<div id="toaster"></div>
<div class="content-wrapper">
    <div class="content">
        <!-- Top Statistics -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card card-default">
                    <div class="d-flex p-5">
                        <div class="icon-md bg-secondary rounded-circle mr-3">
                            <i class="mdi mdi-account-tag"></i>
                        </div>
                        <div class="text-left">
                            <span class="h2 d-block">120</span>
                            <p>Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-default">
                    <div class="d-flex p-5">
                        <div class="icon-md bg-success rounded-circle mr-3">
                            <i class="mdi mdi-table-edit"></i>
                        </div>
                        <div class="text-left">
                            <span class="h2 d-block">{{orders.length}}</span>
                            <p>Open Orders</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-default">
                    <div class="d-flex p-5">
                        <div class="icon-md bg-primary rounded-circle mr-3">
                            <i class="mdi mdi-content-save-edit-outline"></i>
                        </div>
                        <div class="text-left">
                            <span class="h2 d-block">1360</span>
                            <p>Total Sales</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-default">
                    <div class="d-flex p-5">
                        <div class="icon-md bg-info rounded-circle mr-3">
                            <i class="mdi mdi-bell"></i>
                        </div>
                        <div class="text-left">
                            <span class="h2 d-block">4</span>
                            <p>New Orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-body px-0">
                        <h4 class="card-title px-4 mb-3">My Tasks</h4>
                        <div class="todo-list">
                            <div class="tdl-holder">
                                <div class="tdl-content">
                                    <ul id="todo_list">
                                        <li><label><input type="checkbox"><i></i><span>Call Terry</span><a href='#'
                                                    class="mdi mdi-trash-can-outline"></a></label></li>
                                        <li><label><input type="checkbox" checked><i></i><span>Email Jim</span><a
                                                    href='#' class="mdi mdi-trash-can-outline"></a></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Order Lunch</span><a href='#'
                                                    class="mdi mdi-trash-can-outline"></a></label></li>
                                        <li><label><input type="checkbox" checked><i></i><span>Do something
                                                    else</span><a href='#'
                                                    class="mdi mdi-trash-can-outline"></a></label></li>
                                    </ul>
                                </div>
                                <div class="px-4">
                                    <input type="text" class="tdl-new form-control"
                                        placeholder="Write task and hit 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">

                {{!-- Open Orders --}}
                <div class="card card-default">
                    <div class="card-header align-items-center">
                        <h2 class="">Open Orders</h2>
                        <a href="#" class="btn btn-primary btn-pill" data-toggle="modal" data-target="#modal-stock">Add
                            Order</a>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <table id="product-sale" class="table table-product " style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Order Date</th>
                                        <th>Phone</th>
                                        <th>City</th>
                                        <th>Customer Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                        <tr>
                                            <td>{{customer.firstName}} {{customer.lastName}}</td>
                                            <td>{{formatDate createdAt}}</td>
                                            <td>{{customer.mobile}}</td>
                                            <td>{{customer.city}}</td>
                                            <td>{{customer.customerType}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Sales Team --}}

        <div class="row">

            <div class="col-xl-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>Team Activity</h2>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> All time
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)">1 Day ago</a>
                                <a class="dropdown-item" href="javascript:void(0)">7 Day ago</a>
                                <a class="dropdown-item" href="javascript:void(0)">15 Day ago</a>
                                <a class="dropdown-item" href="javascript:void(0)">1 month ago</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" data-simplebar style="height: 305px;">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action border-0">
                                <div class="media media-xs mb-0">
                                    <div class="media-xs-wrapper bg-primary">
                                        <i class="mdi mdi-star-outline"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="title">Emma Smith</span>
                                        <p>Extremity sweetness difficult behaviour he of. On disposal of as landlord
                                            horrible.
                                            Afraid at highly months
                                            do things
                                            on at.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action border-0">
                                <div class="media media-xs mb-0">
                                    <div class="media-xs-wrapper bg-success">
                                        <i class="mdi mdi-pencil"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="title">Emily Disuja</span>
                                        <p>Marianne or husbands if at stronger ye. Considered is as middletons
                                            uncommonly. Promotion
                                            perfectly ye
                                            consisted so.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action border-0">
                                <div class="media media-xs mb-0">
                                    <div class="media-xs-wrapper bg-danger">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="title">Roger Forstt</span>
                                        <p>Unpleasant nor diminution excellence apartments imprudence the met new. Draw
                                            part them he
                                            an to he roof only.
                                            Music
                                            leave say doors him.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action border-0">
                                <div class="media media-xs mb-0">
                                    <div class="media-xs-wrapper bg-info">
                                        <i class="mdi mdi-diamond-outline"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="title">Aaron Varta</span>
                                        <p>Farther related bed and passage comfort civilly. Dashwoods see frankness
                                            objection
                                            abilities the. As hastened
                                            oh
                                            produced prospect formerly up am.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <!-- Sales Team -->
                <div class="card card-default">
                    <div class="card-header">
                        <h2>Sales Team</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless table-thead-border">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th class="text-right">Open Orders</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-dark font-weight-bold">Gunter Reich</td>
                                    <td class="text-right">3</td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-weight-bold">Anke Kirsch</td>
                                    <td class="text-right">7</td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-weight-bold">Karolina Beer</td>
                                    <td class="text-right">0</td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-weight-bold">Lucia Christ</td>
                                    <td class="text-right">5</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                {{!-- <tr>
                                                            <td><a href="#" class="text-uppercase">See All</a></td>
                                                        </tr> --}}
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">

                <!-- Sales by Product -->
                <div class="card card-default">
                    <div class="card-header align-items-center">
                        <h2 class="">Sales by Product</h2>
                        <a href="#" class="btn btn-primary btn-pill" data-toggle="modal" data-target="#modal-stock">Add
                            Stock</a>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <table id="product-sale" class="table table-product " style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Unit</th>
                                        <th>Amount</th>
                                        <th>%sold</th>
                                        <th class="th-width-250"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Coach Swagger</td>
                                        <td>134</td>
                                        <td>$24541</td>
                                        <td>35.28%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 70%"
                                                    aria-valuenow="70%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Toddler Shoes</td>
                                        <td>119</td>
                                        <td>$20225</td>
                                        <td>27.05%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 55%"
                                                    aria-valuenow="55%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Hat Black Suits</td>
                                        <td>101</td>
                                        <td>$17,290</td>
                                        <td>20.25%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 45%"
                                                    aria-valuenow="45%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Backpack Gents</td>
                                        <td>59</td>
                                        <td>$1150</td>
                                        <td>12.50%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Speed 500 Ignite</td>
                                        <td>25</td>
                                        <td>$590</td>
                                        <td>02.10%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 10%"
                                                    aria-valuenow="10%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Earphone &amp; Headphone</td>
                                        <td>23</td>
                                        <td>$450</td>
                                        <td>02%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 8%"
                                                    aria-valuenow="8%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Gucci Watch</td>
                                        <td>32</td>
                                        <td>$554</td>
                                        <td>8%</td>
                                        <td>
                                            <div class="progress progress-md rounded-0">
                                                <div class="progress-bar" role="progressbar" style="width: 8%"
                                                    aria-valuenow="8%" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <!-- Stock Modal -->
        <div class="modal fade modal-stock" id="modal-stock" aria-labelledby="modal-stock" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <form action="#">
                    <div class="modal-content">
                        <div class="modal-header align-items-center p3 p-md-5">
                            <h2 class="modal-title" id="exampleModalGridTitle">Add Stock</h2>
                            <div>
                                <button type="button" class="btn btn-light btn-pill mr-1 mr-md-2" data-dismiss="modal">
                                    cancel </button>
                                <button type="submit" class="btn btn-primary  btn-pill" data-dismiss="modal">
                                    save </button>
                            </div>

                        </div>
                        <div class="modal-body p3 p-md-5">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h3 class="h5 mb-5">Product Information</h3>
                                    <div class="form-group mb-5">
                                        <label for="new-product">Product Title</label>
                                        <input type="text" class="form-control" id="new-product"
                                            placeholder="Add Product">
                                    </div>
                                    <div class="form-row mb-4">
                                        <div class="col">
                                            <label for="SKU">SKU</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="SKU" placeholder="SKU"
                                                    aria-label="SKU" aria-describedby="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="model">Model</label>
                                            <div class="input-group">

                                                <input type="text" class="form-control" id="model" placeholder="Model"
                                                    aria-label="model" aria-describedby="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-type mb-3 ">
                                        <label class="d-block" for="sale-price">Product Type <i
                                                class="mdi mdi-help-circle-outline"></i> </label>
                                        <div>

                                            <div class="custom-control custom-radio d-inline-block mr-3 mb-3">
                                                <input type="radio" id="customRadio1" name="customRadio"
                                                    class="custom-control-input" checked="checked">
                                                <label class="custom-control-label" for="customRadio1">Physical
                                                    Good</label>
                                            </div>

                                            <div class="custom-control custom-radio d-inline-block mr-3 mb-3">
                                                <input type="radio" id="customRadio2" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Digital
                                                    Good</label>
                                            </div>

                                            <div class="custom-control custom-radio d-inline-block mr-3 mb-3">
                                                <input type="radio" id="customRadio3" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio3">Service</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="editor">
                                        <label class="d-block" for="sale-price">Description <i
                                                class="mdi mdi-help-circle-outline"></i></label>
                                        <div id="standalone">
                                            <div id="toolbar">
                                                <span class="ql-formats">
                                                    <select class="ql-font"></select>
                                                    <select class="ql-size"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-blockquote"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"></button>
                                                    <button class="ql-list" value="bullet"></button>
                                                    <button class="ql-indent" value="-1"></button>
                                                    <button class="ql-indent" value="+1"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-direction" value="rtl"></button>
                                                    <select class="ql-align"></select>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="editor"></div>

                                        <div class="custom-control custom-checkbox d-inline-block mt-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Hide
                                                product from published site</label>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile"
                                            placeholder="please image here" multiple>
                                        <span class="upload-image">Click here to <span class="text-primary">add
                                                product images.</span> </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>