<div class="content-wrapper">
    <div class="content">
        <div class="invoice-wrapper rounded border bg-white py-5 px-3 px-md-4 px-lg-5 mb-6">
            <div class="d-flex justify-content-between">
                <h2 class="text-dark font-weight-medium">Invoice</h2>
                <div class="btn-group">
                    <button class="btn btn-sm btn-light">
                        <i class="mdi mdi-content-save"></i> Save</button>
                    <button class="btn btn-sm btn-secondary">
                        <i class="mdi mdi-printer"></i> Print</button>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-xl-3 col-lg-4">
                    {{!-- <p class="text-dark mb-2">Customer Details</p> --}}
                    <p class="text-dark">Customer Name:</p>
                    <p class="text-dark">Email:</p>
                    <p class="text-dark">Mobile:</p>
                    <p class="text-dark">Address:</p>
                </div>
                <div class="col-xl-3 col-lg-4">
                    {{!-- <p class="text-dark mb-2">-</p> --}}
                    <p>{{order.firstName}} {{order.lastName}}</p>
                    <p>{{order.email}}</p>
                    <p>{{order.mobile}}</p>
                    <address>
                        {{order.address1}}
                        {{#if order.address2}}<br> {{order.address2}}{{/if}}
                        <br> {{order.city}}, {{order.state}}, {{order.zip}}
                    </address>
                </div>
                {{!-- <div class="col-xl-3 col-lg-4">
                    <p class="text-dark mb-2">Details</p>
                    <address>
                        Invoice ID:
                        <span class="text-dark">#2365546</span>
                        <br> March 25, 2018
                        <br> VAT: PL6541215450
                    </address>
                </div> --}}
            </div>
            <div class="table-responsive">
                <table class="table mt-3 table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>BrandLine</th>
                            <th>Quantity</th>
                            <th>Size</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order.cartItems}}
                            <tr>
                                <td>{{add @index 1}}</td>
                                <td>{{title}}</td>
                                <td>{{brandLine}}</td>
                                <td>{{quantity}}</td>
                                <td>{{size}}</td>
                                <td>{{color}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-5 col-xl-4 col-xl-3 ml-sm-auto">
                    <ul class="list-unstyled mt-4">
                        <li class="mid pb-3 text-dark"> Status
                            <span class="d-inline-block float-right text-default">{{order.status}}</span>
                        </li>
                        <li class="mid pb-3 text-dark">Order Date
                            <span class="d-inline-block float-right text-default">{{formatDate order.createdAt}}</span>
                        </li>
                        {{!-- <li class="pb-3 text-dark">Total
                            <span class="d-inline-block float-right">$8.686,70</span>
                        </li> --}}
                    </ul>
                    <a href="#" class="btn btn-block mt-2 btn-lg btn-primary btn-pill"> Do Something</a>
                </div>
            </div>
        </div>
    </div>

</div>