<div class="content-wrapper">
    <div class="content">
        <div class="invoice-wrapper rounded border bg-white py-5 px-3 px-md-4 px-lg-5 mb-6">
            <div class="d-flex justify-content-between">
                <h2 class="text-dark font-weight-medium">Request Invoice</h2>
                <div class="btn-group">
                    <!-- Save/Download Button -->
                    <button class="btn btn-sm btn-light" id="downloadBtn">
                        <i class="mdi mdi-content-save"></i> Save
                    </button>

                    <!-- Print Button -->
                    <button class="btn btn-sm btn-secondary" id="printBtn">
                        <i class="mdi mdi-printer"></i> Print
                    </button>

                </div>
            </div>
            <div class="row pt-5">
                <div class="col-xl-3 col-lg-4">
                    {{!-- <p class="text-dark mb-2">Customer Details</p> --}}
                    <p class="text-dark">Company:</p>
                    <p class="text-dark">Cust ID:</p>
                    <p class="text-dark">Customer Name:</p>
                    <p class="text-dark">Email:</p>
                    <p class="text-dark">Mobile:</p>
                    <p class="text-dark">Address:</p>
                </div>
                <div class="col-xl-3 col-lg-4">
                    {{!-- <p class="text-dark mb-2">-</p> --}}
                    <p>{{customer.companyName}}</p>
                    <p>{{#if customer.custID}}{{customer.custID}}{{else}}No ID{{/if}}</p>
                    <p>{{customer.firstName}} {{customer.lastName}}</p>
                    <p>{{customer.email}}</p>
                    <p>{{customer.mobile}}</p>
                    <address>
                        {{customer.address1}}
                        {{#if customer.address2}}<br> {{customer.address2}}{{/if}}
                        <br> {{customer.city}}, {{customer.state}}, {{customer.zip}}
                    </address>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <p class="text-dark mb-1">Status - {{order.status}}</p>
                    <p class="text-dark">Order Date - {{formatDate order.createdAt}}</p>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table mt-3 table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>BrandLine</th>
                            <th>Quantity</th>
                            <th>Size</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order.cartItems}}
                            <tr>
                                <td>{{add @index 1}}</td>
                                <td>{{title}}</td>
                                <td>{{brandLine}}</td>
                                <td>{{quantity}}</td>
                                <td>{{size}}</td>
                                <td>{{color}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{#if order.inspirationGallery}}
                <h5 class="text-capitalize mt-5">{{customer.firstName}}'s Inspiration Gallery</h5>
                <div class="row mt-3">
                    {{#each order.inspirationGallery}}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light">
                                <img class="img-fluid w-100 bg-white" src="{{this}}" alt="">
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>

<!-- PDF Download/Print of invoice -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script>
    function generatePDF(printInstead = false) {
        const invoice = document.querySelector(".invoice-wrapper");
        const options = {
            margin: 0.5,
            filename: 'invoice.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        if (printInstead) {
            // Create the PDF and open in a new tab for printing
            html2pdf().set(options).from(invoice).toPdf().get('pdf').then(function (pdf) {
                const blobUrl = URL.createObjectURL(pdf.output('blob'));
                const iframe = document.createElement('iframe');
                iframe.style.display = 'none';
                iframe.src = blobUrl;
                document.body.appendChild(iframe);
                iframe.onload = function () {
                    iframe.contentWindow.print();
                };
            });
        } else {
            // Download as PDF
            html2pdf().set(options).from(invoice).save();
        }
    }

    document.getElementById("downloadBtn").addEventListener("click", () => generatePDF(false));
    document.getElementById("printBtn").addEventListener("click", () => generatePDF(true));
</script>