<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KCI Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/../img/favicon/favicon.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/../css/shop.css" rel="stylesheet">
    <style>
        .sales-banner {
            width: 100%;
            overflow: hidden;
            padding: 10px 0;
            white-space: nowrap;
            background-color: #ffffff;
            margin-bottom: 5px;
            /* vertically centers text relative to banner height */
        }

        .scrolling-items {
            display: inline-block;
            animation: scroll 40s linear infinite;
            /* slower scroll */
        }

        .scrolling-items .item {
            display: inline-block;
            margin-right: 50px;
            text-align: center;
            font-weight: bold;
            vertical-align: middle;
            /* align images/text in same line */
        }

        .scrolling-items .item img {
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto 0 auto;
            /* centers image above text */
        }

        .scrolling-items .item.label {
            font-size: 1.8em;
            text-transform: uppercase;
            color: #333;
            line-height: 80px;
            /* matches image height for vertical centering */
        }

        @keyframes scroll {
            0% {
                transform: translateX(10%);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        /* Pause scrolling on hover */
        .scrolling-items:hover {
            animation-play-state: paused;
        }

        #navbar-vertical {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            /* optional, softens edges */
        }
    </style>


</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="/">Home</a>
                    <a class="text-body mr-3" href="/about">About</a>
                    <a class="text-body mr-3" href="/services">Services</a>
                    <a class="text-body mr-3" href="/contact">Contact</a>
                    <a class="text-body mr-3" href="/signIn">Sign In</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                {{!-- <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My
                            Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Sign in</button>
                            <button class="dropdown-item" type="button">Sign up</button>
                        </div>
                    </div>

                </div> --}}
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <!-- Inspiration / Star -->
                    <a href="/shop/inspirationList" class="btn px-0 ml-2" title="Inspiration Gallery"
                        data-bs-toggle="tooltip">
                        <i class="fas fa-star text-warning"></i>
                        <span id="inspirationBadge" class="badge bg-white text-dark rounded-circle"
                            style="padding-bottom: 2px;">
                            {{inspirationCount}}
                        </span>
                    </a>

                    <!-- Wishlist / Heart -->
                    <a href="/shop/wishList" class="btn px-0 ml-3" title="Wishlist" data-bs-toggle="tooltip">
                        <i class="fas fa-heart text-primary"></i>
                        <span class="badge bg-white text-dark rounded-circle" style="padding-bottom: 2px;">
                            {{wishCount}}
                        </span>
                    </a>

                    <!-- Cart -->
                    <a href="/shop/cart" class="btn px-0 ml-2" title="Shopping Cart" data-bs-toggle="tooltip">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge bg-white text-dark rounded-circle" style="padding-bottom: 2px;">
                            {{cartCount}}
                        </span>
                    </a>
                </div>


            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5">
            <div class="col-12 col-lg-4 text-center text-lg-left mb-3 mb-lg-0">
                <a href="/shop" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">KCI</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <form action="/shop/searchProducts" method="GET" class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search for products..."
                            aria-label="Search" required />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-right d-none d-lg-block">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">&lpar;913&rpar; 727-3249</h5>
            </div>
        </div>

    </div>

    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-10">
        <div class="row px-xl-5">
            <!-- Vertical Categories - visible only on large screens -->
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
                    href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Shop by Department</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
                    id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <a href="/shop/seating" class="nav-item nav-link">Seating</a>
                        <a href="/shop/furniture" class="nav-item nav-link">Furniture</a>
                        {{!-- <a href="/error/503" class="nav-item nav-link">Office Panel
                            Systems</a> --}}
                        <a href="/shop/textiles" class="nav-item nav-link">Clothing &amp;
                            Textiles</a>
                        <a href="/shop/signs" class="nav-item nav-link">Signs &amp;
                            Graphics</a>
                        <a href="/shop/awards" class="nav-item nav-link">Awards &amp;
                            Plaques</a>
                        <a href="/shop/metal" class="nav-item nav-link">Metal Works</a>
                        <a href="/shop/janitorial" class="nav-item nav-link">Janitorial
                            &amp; Paint</a>

                    </div>
                </nav>
            </div>

            <!-- Main navbar -->
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/shop/galleryRoom"
                                class="nav-item nav-link {{#if (eq currentPath '/shop/galleryRoom')}}active{{/if}}">
                                Gallery Room
                            </a>

                            <!-- Categories only inside hamburger menu for small screens -->
                            <a href="/shop/furniture" class="nav-item nav-link d-lg-none">Seating</a>
                            <a href="/shop/furniture" class="nav-item nav-link d-lg-none">Furniture</a>
                            {{!-- <a href="/error/503" class="nav-item nav-link d-lg-none">Office
                                Panel Systems</a> --}}
                            <a href="/shop/textiles" class="nav-item nav-link d-lg-none">Clothing &amp;
                                Textiles</a>
                            <a href="/shop/signs" class="nav-item nav-link d-lg-none">Signs
                                &amp; Graphics</a>
                            <a href="/shop/metal" class="nav-item nav-link d-lg-none">Metal Works</a>
                            <a href="/shop/janitorial" class="nav-item nav-link d-lg-none">Janitorial
                                &amp;
                                Paint</a>

                        </div>

                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <!-- Inspiration / Star -->
                            <a href="/shop/inspirationList" class="btn px-0 ml-3" title="Inspiration Gallery"
                                data-bs-toggle="tooltip">
                                <i class="fas fa-star text-warning"></i>
                                <span class="badge bg-white text-dark rounded-circle" style="padding-bottom: 2px;">
                                    {{inspirationCount}}
                                </span>
                            </a>

                            <!-- Wishlist / Heart -->
                            <a href="/shop/wishList" class="btn px-0 ml-3" title="Wishlist" data-bs-toggle="tooltip">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge bg-white text-dark rounded-circle" style="padding-bottom: 2px;">
                                    {{wishCount}}
                                </span>
                            </a>

                            <!-- Cart -->
                            <a href="/shop/cart" class="btn px-0 ml-3" title="Shopping Cart" data-bs-toggle="tooltip">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge bg-white text-dark rounded-circle" style="padding-bottom: 2px;">
                                    {{cartCount}}
                                </span>
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    {{!-- Sales Banner --}}
    <div class="sales-banner mb-10">
        <div class="scrolling-items">
            <div class="item label">
                <span>Most Popular Signature Products</span>
            </div>
            <div class="item">
                <a href="/shop/product-details/689a0823c05bcc08d2ebad2d"> <img
                        src="/uploads/2 Drawer Low Personal Storage.webp" alt="Product 1"></a>

            </div>
            <div class="item">
                <img src="/uploads/1755095839094-7704SRED-600x600.webp" alt="Product 2">

            </div>
            <div class="item">
                <img src="/uploads/1755801933641-file.webp" alt="Product 3">

            </div>
            <div class="item">
                <img src="/uploads/Classic Laminate Bow Front Desk Full Double Pedestal 30″ x 66″.webp" alt="Product 4">

            </div>
            <div class="item">
                <img src="/uploads/Laminate Lateral File 3 Drawer 36W.webp" alt="Product 5">

            </div>
            <!-- Final label -->
            <div class="item label">
                <span>Most Popular Signature Products</span>
            </div>
            <!-- Duplicate for smooth scrolling -->
            <div class="item">
                <img src="/uploads/2 Drawer Low Personal Storage.webp" alt="Product 1">

            </div>
            <div class="item">
                <img src="/uploads/1755095839094-7704SRED-600x600.webp" alt="Product 2">

            </div>
            <div class="item">
                <img src="/uploads/1755801933641-file.webp" alt="Product 3">

            </div>
            <div class="item">
                <img src="/uploads/Classic Laminate Bow Front Desk Full Double Pedestal 30″ x 66″.webp" alt="Product 4">

            </div>
            <div class="item">
                <img src="/uploads/Laminate Lateral File 3 Drawer 36W.webp" alt="Product 5">

            </div>
        </div>
    </div>

    <!-- Main content -->
    {{{body}}}

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">Have questions or need help? We're here Monday-Friday, 8am-4pm. Reach out and we'll get
                    back to you as soon as we can!</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>PO Box 2, Lansing, KS 66043, USA
                </p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>aleah.porche@ks.gov</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>&lpar;913&rpar; 727-3249</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>KCI
                                Shop</a>
                            <a class="text-secondary mb-2" href="/shop/galleryRoom"><i
                                    class="fa fa-angle-right mr-2"></i>Gallery
                                Room</a>
                            <a class="text-secondary mb-2" href="/shop/cart"><i
                                    class="fa fa-angle-right mr-2"></i>Shopping
                                Cart</a>
                            <a class="text-secondary mb-2" href="/shop/wishList"><i
                                    class="fa fa-angle-right mr-2"></i>Wish
                                List</a>
                            <a class="text-secondary mb-2" href="/shop/inspirationList"><i
                                    class="fa fa-angle-right mr-2"></i>Inspiration Gallery</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">KCI Home</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>About</a>
                            <a class="text-secondary mb-2" href="/services"><i
                                    class="fa fa-angle-right mr-2"></i>Services</a>
                            <a class="text-secondary mb-2" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact
                                Us</a>
                            <a class="text-secondary" href="/software"><i class="fa fa-angle-right mr-2"></i>KCI
                                Software Solutions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Copyright</a>. All Rights Reserved. Created
                    by
                    <a class="text-primary" href="/software">KCI Software Solutions</a>
                </p>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/../lib/easing/easing.min.js"></script>
    <script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/../js/main.js"></script>

</body>

</html>