<main class="main">

    <div class="page-title dark-background" style="background-image: url(/img/hero-carousel/hero-carousel-1.jpg);">
        <div class="container position-relative">
            <h1>{{details.category}}</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/serviceDetails?category={{category}}">{{details.category}}</a></li>
                    <li class="current">All Items</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <section id="projects" class="projects section">
                    <div class="container">
                        <div class="isotope-layout" data-default-filter="*" data-layout="masonry"
                            data-sort="original-order">
                            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                                <li data-filter="*" class="filter-active">All</li>
                                {{#each details.items}}
                                    <li data-filter=".filter-{{this}}">{{this}}</li>
                                {{/each}}
                            </ul>

                            <div class="pt-5 row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                                {{#each products}}
                                    <div
                                        class="col-lg-3 col-md-4 portfolio-item isotope-item filter-{{this.subCategory}}">
                                        <div class="portfolio-content h-100">
                                            <img src="/img/products/{{../category}}/{{this.imageName}}.png"
                                                class="img-fluid" alt="" />
                                            <div class="portfolio-info">
                                                <h4>{{this.name}}</h4>
                                                {{!-- <p>{{this.name}}</p> --}}
                                                <a href="/img/products/{{../category}}/{{this.imageName}}.png"
                                                    title="{{this.name}}" data-gallery="portfolio-gallery-app"
                                                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                                <a href="#" title="More Details" class="details-link"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>