<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/shop">KCI Shop</a>
                <span class="breadcrumb-item active">Products</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">


            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">Categories</span></h5>
            <div class="bg-light p-4 mb-30">
                <form id="filter-form" method="GET" action="/products">
                    {{#each allCategories}}
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="category" value="{{this}}"
                                id="cat-{{@index}}" {{#if (includes ../selectedCategories this)}}checked{{/if}}>
                            <label class="custom-control-label" for="cat-{{@index}}">
                                {{this}}
                            </label>
                        </div>
                    {{/each}}


                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                </form>
            </div>

            {{!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Modular
                    Panels</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="Bay">
                        <label class="custom-control-label" for="Bay">Bay Products</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="OEI">
                        <label class="custom-control-label" for="OEI">OEI</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="Swift">
                        <label class="custom-control-label" for="Swift">Swift Space Inc.</label>
                    </div>
                </form>
            </div>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Specialty
                    Accessories</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">Lighting</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">Desk Accessories</label>
                    </div>
                </form>
            </div>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Lounge
                    Furniture</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">Commercial Concepts</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">OEI</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">Bay Products</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for="">Noona</label>
                    </div>
                </form>
            </div> --}}
        </div>



        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden bg-white">
                                <img class="img-fluid w-100 bg-white" src="{{firstImagePath this.images}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="#"><i
                                            class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

                                    <a class="btn btn-outline-dark btn-square" href="/product-details/{{this._id}}"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-wrap"
                                    href="/product-details/{{this._id}}">{{this.title}}</a>
                            </div>
                        </div>
                    </div>
                {{/each}}



            </div>
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <nav>
                        <ul class="pagination justify-content-center">
                            {{!-- Previous Button --}}
                            {{#if (gt currentPage 1)}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{subtract currentPage 1}}{{#each selectedCategories}}&category={{this}}{{/each}}">Previous</a>
                                </li>
                            {{else}}
                                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {{/if}}

                            {{!-- Dynamic Page Links --}}
                            {{#each (paginationRange currentPage totalPages)}}
                                {{#if (eq this "...")}}
                                    <li class="page-item disabled"><span class="page-link">…</span></li>
                                {{else}}
                                    <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                                        <a class="page-link"
                                            href="?page={{this}}{{#each ../selectedCategories}}&category={{this}}{{/each}}">{{this}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}

                            {{!-- Next Button --}}
                            {{#if (lt currentPage totalPages)}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{add currentPage 1}}{{#each selectedCategories}}&category={{this}}{{/each}}">Next</a>
                                </li>
                            {{else}}
                                <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {{/if}}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>