<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/shop">KCI Shop</a>
                <a class="breadcrumb-item text-dark" href="/products?category={{product.category}}">
                    {{product.category}}</a>
                <span class="breadcrumb-item active">{{product.title}}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    {{#each product.images}}
                        <div class="carousel-item {{#if @first}}active{{/if}}">
                            <img loading="lazy" class="w-100 h-100" src="{{this.path}}" alt="{{this.originalName}}">
                        </div>
                    {{/each}}
                </div>


                {{#if (gt (length product.images) 1)}}
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                {{/if}}
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h5 class="font-weight-semi-bold">{{product.subcategory}}</h5>
                <div class="d-flex mb-3">
                    <small class="pt-1">{{product.brandLine}}</small>
                </div>
                <h3>{{product.title}}</h3>
                <p class="mb-4" style="white-space: pre-wrap;">{{#if product.details~}}
                        {{product.details}}
                        {{else~}}Call for details!{{/if}}</p>

                {{#if product.sizes}}
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Sizes:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">XS</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-2" name="size">
                                <label class="custom-control-label" for="size-2">S</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-3" name="size">
                                <label class="custom-control-label" for="size-3">M</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-4" name="size">
                                <label class="custom-control-label" for="size-4">L</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-5" name="size">
                                <label class="custom-control-label" for="size-5">XL</label>
                            </div>
                        </form>
                    </div>
                {{/if}}
                {{!-- COLORS --}}
                {{#if product.colors}}
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Colors:</strong>
                        <form>
                            {{#each product.colors}}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="color-{{@index}}" name="color"
                                        value="{{this}}">
                                    <label class="custom-control-label" for="color-{{@index}}">{{this}}</label>
                                </div>
                            {{/each}}
                        </form>
                    </div>
                {{/if}}

                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    {{#if product.dimensions}}<a class="nav-item nav-link text-dark" data-toggle="tab"
                            href="#tab-pane-2">Dimensions</a>{{/if}}

                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">

                        <p style="white-space: pre-wrap;">{{#if product.description~}}
                                {{product.description}}
                                {{else~}}
                                Call for details!
                            {{/if}}</p>


                    </div>
                    {{#if product.dimensions}}
                        <div class="tab-pane fade" id="tab-pane-2">

                            <p style="white-space: pre-wrap;">{{product.dimensions~}}</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const quantityContainers = document.querySelectorAll('.quantity');

        quantityContainers.forEach(container => {
            const input = container.querySelector('input');
            const btnPlus = container.querySelector('.btn-plus');
            const btnMinus = container.querySelector('.btn-minus');

            btnPlus.addEventListener('click', (e) => {
                e.preventDefault();
                let val = parseInt(input.value) || 0;
                input.value = val + 1;
            });

            btnMinus.addEventListener('click', (e) => {
                e.preventDefault();
                let val = parseInt(input.value) || 0;
                if (val > 1) input.value = val - 1;
            });
        });
    });

</script>